@use './variables' as *;
@use './mixin' as *;

/* DESTINATIONS PAGE CONTENT */
.section--hawaii {
  background: url(../assets/Images/hawaii.jpg) no-repeat center center;
  background-size: cover;
  height: 93vh;
  display: flex;
}

.section--iceland {
  background: url(../assets/Images/iceland.jpg) no-repeat center center;
  background-size: cover;
  height: 93vh;
  display: flex;
}

.section--greece {
  background: url(../assets/Images/greece.jpg) no-repeat center center;
  background-size: cover;
  height: 93vh;
  display: flex;
}

.content-wrapper {
  width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content-title {
    margin: 0 0 3rem 0;
    font-size: 4rem;
    color: $crisp-white;
  }

  .card-container {
    display: flex;
    justify-content: center;

    .content-card {
      background-color: $crisp-white;
      @include card;
      padding: 0rem 1rem 1rem 1rem;

      .content-card__title {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid black;
        margin: 1rem 0rem;
      }

      .content-card__list {
        padding: 0;
        margin-top: 2rem;

        .content-card__info {
          background-color: $background-peach;
          display: flex;
          justify-content: center;
          padding: 1rem;
          list-style: none;
          margin: 1rem 0;
        }
      }
    }
  }
}